# dependencies
node_modules

# next
.next
out

# production
dist
build

# turbo
.turbo

# env
.env
.env.local
.env.*.local

# logs
*.log
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo

# vercel
.vercel

# prisma
prisma/dev.db
prisma/dev.db-journal